<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- 配置日志文件输出目录 -->
        <Property name="LOG_HOME">/usr/local/pk-api/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </Console>
        <RollingRandomAccessFile name="service_appender"
                                 immediateFlush="true" fileName="${LOG_HOME}/service.log"
                                 filePattern="${LOG_HOME}/service_%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M -- %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" />
            <AppenderRef ref="service_appender" />
        </Root>
        <logger name="org.springframework.core" level="info"/>
        <logger name="org.springframework.beans" level="info"/>
        <logger name="org.springframework.context" level="info"/>
        <logger name="org.springframework.web" level="info"/>
        <logger name="org.jboss.netty" level="warn"/>
        <logger name="org.apache.http" level="warn"/>
        <logger name="logging.level.java.sql.Statement" level="DEBUG" />
        <logger name="logging.level.java.sql.PreparedStatement" level="DEBUG" />
        <logger name="logging.level.java.sql.Connection" level="DEBUG" />
        <logger name="logging.level.java.sql.ResultSet" level="DEBUG" />
        <logger name="logging.level.org.apache" level="info" />
        <logger name="logging.level.org.mybatis" level="info" />
        <logger name="com.dingtalk.open.client.transport" level="ERROR"/>
    </Loggers>
</Configuration>